@import "../../layout/layout.scss";
@import "../../variable.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  a {
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover {
      scale: 1.05;
    }

    @include sm {
      display: none;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 20px;

    .logo {
      font-weight: bold;
      font-size: 20px;

      img {
        width: 100px;
      }

      @include sm {
        display: initial;
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $righ-sidepage-bg;
    height: 100%;

    @include md {
      background-color: transparent;
    }

    a {
      padding: 12px 20px;
      margin: 5px;
    }

    .register {
      background-color: $main-button-bg;
      border-radius: 5px;
    }

    .menuicon {
      display: none;
      z-index: 999;

      @include sm {
        display: inline;

        img {
          width: 50px;
          cursor: pointer;
        }
      }
    }

    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: black;
      color: white;
      height: 100vh;
      width: 50%;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 24px;

      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: bold;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
      }

      span {
        @include sm {
          display: none;
        }
      }

      .profile {
        padding: 6px 10px;
        background-color: $main-button-bg;
        cursor: pointer;
        border: none;
        position: relative;

        @include md{
          display: none;
        }

        .notification {
          position: absolute;
          top: -8px;
          right: -8px;
          background-color: red;
          color: white;
          font-size: 10px;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          display: flex;
          align-items: center;
          justify-content: center;

          // @include md {
          //   top: -3px;
          //   right: -3px;
          // }
        }
      }
    }
  }
}
