@import "../../reponsive.scss";
@import "../../variable.scss";

.homepage {
  display: flex;
  height: 100%;

  .textContainer {
    flex: 3;

    .wrapper {
      padding-right: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      height: 100%;

      @include md{
        padding: 0;
      }

      @include sm{
        justify-content: flex-start;
      }

      p{
        font-size: 13px;
        font-weight: 100;
        color: gray;
      }

      .boxes{
        display: flex;
        justify-content: space-between;

        @include sm{
          display: none;
        }

        h1{
            font-size: 28px;
        }

        h2{
            font-size: 15px;
            font-weight: 300;
        }
      }
    }
  }

  .imageContainer {
    flex: 2;
    background-color: $righ-sidepage-bg;
    position: relative;
    display: flex;
    align-items: center;

    @include md{
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: 0;
    }
  }
}
